@import url("./reset.css");
.flex-container{
    
    margin: auto;
    padding: 50px;
    display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   align-items: stretch;
   gap: 20px;
   
    
}
body{
    
    font-size: 50px;
    background-color:gray;
}
.header{
    border-radius: 15px;
    background-color: purple;
    color: white;
    text-align: center;
}

.article-container{
    border-radius: 15px;
    background-color: green;
}
.article{
    margin: 15px;
    background-color:red;
    color: white;
    border-radius: 15px;
}
.aside{
    border-radius: 15px;
    color: white;
    background-color: blueviolet;
}
.footer{
    border-radius: 15px;
    color: white;
    background-color: orange;
    text-align: center;
}
@media screen and (min-width: 481px){
   .flex-container{
    flex-direction: row-reverse;
    flex-wrap: nowrap;
   }
   .aside{
    padding-top:100px;
    width: 60%;
    
   }
   .article-container{
    width: 40%;
   }
}